.search-container {
  margin: 0 auto;
  /* max-width: 40rem; */

}

.search-title {
  color: var(--whitetail);
}

.search-input {
  margin: 1rem auto;
  width: 13rem;
  height: 2rem;
  border-radius: 0.5em;
}

.card {
  margin: 3rem auto;
}

/* SearchField.jsx */

.input-error {
  color: var(--whitetail);
}

.name {
  color: var(--whitetail);
}